body {
  margin: 0;
  background-color: #1C1C1C;
}

.App-header {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav {
  margin: 0;
  padding: 5px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #4D4D4D;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 50px;
  flex-grow: 1;
  margin: 10px 70px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 70px;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: #E4E6EB;
  font-size: 20px;
}

.nav-link:hover {
  color:   #1C1C1C;
}
