.calculator-wrapper {
  display: flex;
  justify-content: space-between;
}

.calculator {
  background-color: black;
  margin: auto;
  margin-top: 8%;
  width: 400px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(255, 255, 255);
}

.title {
  margin-top: 100px;
  text-shadow: 2px 2px 30px #ffffff6a;
}

.display {
  border-radius: 5px;
  background-color: #858694;
  color: #fff;
  padding: 10px;
  text-align: right;
}

.myRow {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: black;
}

.button {
  background-color: #ddd;
  border: 1px solid #858694;
  font-size: 12px;
  padding: 16px;
  cursor: pointer;
  width: calc(25%);
  border-radius: 5px;
}

.cero {
  width: calc(50%);
}

.operator {
  background-color: rgba(255, 102, 0, 0.833);
  color: #333;
}

.equal {
  background-color: rgba(255, 102, 0, 0.833);
  color: #fff;
}

.button:hover {
  background-color: #eaeaea;
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    display: none;
  }

  .calculator {
    margin-top: 40px;
  }
}
